- if mode == :sidebar
	= render :partial=>'home_text'
	
	- if @zemanta_unique_link_types
		- @zemanta_unique_link_types.each do |link_type|
			%section.facet_limit
				%hr
				%h5= link_type.capitalize
				%ul
					- @zemanta_links.xpath("target").select{ |x| x.xpath("type").text.include?(link_type)}.each do |target|
						%li
							%p
								%a{:href => target.xpath("url").text}= target.xpath("title").text

	- if @zemanta_articles
		- if !@zemanta_articles.empty?
			%section.facet_limit
				%hr
				%h5 Articles
				- @zemanta_articles.each do |article|
					%p
						%a{:href => article.xpath("url").text}= article.xpath("title").text
						%br
						%span.facet_number=article.xpath("url").text.gsub("http://", "").gsub("https://", "").split('/')[0].gsub("www.","")

- else
	- if @gdata_image and @gdata_image.to_s.include? "zoom"
		%p.book_cover
			%img{:src => @gdata_image.to_s.gsub("zoom=5","zoom=1") }
		
	- if document[:author_display]
		%p
			%b="By "
			- number_of_authors = document[:author_display].split("■").size
			- author_links(document[:author_display]).each_with_index do |author_link, index|
				= author_link
				- if index + 1 < number_of_authors
					&#9632;
	%p
		%dl
			- if document["date_display"]
				%dt.metadata_label= "Date"
				%dd.metadata_value= document["date_display"][0]
			- elsif document["pub_date"]
				%dt.metadata_label= "Date"
				%dd.metadata_value= document["pub_date"][0]
				
			- document_show_fields.each do |solr_fname|
				- if document[solr_fname] and !(solr_fname.include? "title" or solr_fname.include? "author")
					- if document[solr_fname].is_a?(Array)
						%dt.metadata_label= document_show_field_labels[solr_fname]
						- if @gdata_image and @gdata_image.to_s.include? "zoom"
							%dd.metadata_value_wider
								- number_of_items = document[solr_fname].size
								- document[solr_fname].each_with_index do |val, index|
									= link_to_new_facet_query(solr_fname, val)
									- if index + 1 < number_of_items
										&#9632;
						- else
							%dd.metadata_value
								- number_of_items = document[solr_fname].size
								- document[solr_fname].each_with_index do |val, index|
									= link_to_new_facet_query(solr_fname, val)
									- if index + 1 < number_of_items
										&#9632;
					- else
						%dt.metadata_label= document_show_field_labels[solr_fname]
						%dd.metadata_value= document[solr_fname]

	- if @gdata_description
		%p= @gdata_description.text

	- if document["identifier_display"]
		-if document["identifier_display"].to_s.include?("http")
			%dl
				%dt.metadata_label= "Files"
				%dd.metadata_value
					%ul.files_list
						- http_links = document["identifier_display"].select {|link| link.match(/^http:/)}
						- http_links.each_with_index do |link, index|
							- link_text = link.size < 88 ? link : link[0..55] + "..." + link[-18..-1]
							%li.small= link_to link_text, link, :title => link, :class => "document_list_link"

	- if document["description_display"]
		%p= document["description_display"][0]
	
	- if @eulholding
		- if !@eulholding.empty?
			%section#eulholding
				%h5 Availability - Edinburgh University Library
				%p
					%ul
						- @eulholding.each do |item|
							%li
								= item[:location] + ", " + item[:shelfmark] + " (shelfmark)"
								%br
								= item[:copies] + " item(s), " + item[:status]

	%section#google_preview
