%nav.prev_next_links

	- if @pagination.has_previous? || @pagination.has_next?
		- if @pagination.has_previous?
			= link_to('« Previous', catalog_facet_path( @pagination.params_for_previous_url( params) ) , :class=>:prev_page)
		- else
			%span.disabled.ui-state-active.prev_page « Previous
		
		- if @pagination.has_next?
			= link_to('Next »', catalog_facet_path( @pagination.params_for_next_url(params)), :class => :next_page )
		- else
			%span.disabled.ui-state-active.next_page Next »
		&nbsp;
		
	- if @pagination.sort == 'index'
		[ Sort by:
		%span.small 
			%b A-Z
		= link_to_unless(@pagination.sort == 'count', "Relevance", @pagination.params_for_resort_url('count', params), :class => "small sort_change numeric")
		]
	
	- elsif @pagination.sort == 'count'
		[ Sort by:
		= link_to("A-Z", @pagination.params_for_resort_url('index', params), :class => "small sort_change az")
		%span.small 
			%b Relevance 
		]
	
	&nbsp;
	%span
		= link_back_to_catalog :label=>"Back"