%h5 UX2.0 Library
%section#search.search
	- form_tag catalog_index_path, :method => :get do
		= text_field_tag :q, params[:q], :class => "q", :autocomplete => "off", :size => "38"
		= label_tag(:search_field, " in ")
		= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => "Targeted search options", :class=>"search_field")
		= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page])
		= submit_tag 'search', :class=>'button'